[Desktop Entry]
Version=1.0
Type=Application
Name=Z Connect
Comment=PdaNet WiFi Direct Tethering
Exec=zconnect.sh
Icon=zconnect
Terminal=false
Categories=Network;Utility;
Keywords=tether;pdanet;wifi;hotspot;internet;
StartupNotify=false
X-GNOME-UsesNotifications=true
